openapi: 3.1.0
info:
  title: Google Vault API
  description: >-
    Best-effort OpenAPI 3.1 for the Google Vault API, an information governance
    and eDiscovery API for Google Workspace. Covers matters, holds, exports,
    saved queries, held accounts, and long-running operations.
  version: v1
servers:
  - url: https://vault.googleapis.com
security:
  - googleOAuth: []
tags:
  - name: Matters
  - name: Holds
  - name: Exports
  - name: SavedQueries
  - name: HeldAccounts
  - name: Operations
paths:
  /v1/matters:
    get:
      tags: [Matters]
      summary: List matters
      operationId: matters.list
      parameters:
        - in: query
          name: state
          schema:
            type: string
            enum: [STATE_UNSPECIFIED, OPEN, CLOSED, DELETED]
        - in: query
          name: pageSize
          schema: { type: integer }
        - in: query
          name: pageToken
          schema: { type: string }
        - in: query
          name: view
          schema:
            type: string
            enum: [VIEW_UNSPECIFIED, BASIC, FULL]
      responses:
        '200':
          description: Matters
          content:
            application/json:
              schema:
                type: object
                properties:
                  matters:
                    type: array
                    items: { $ref: '#/components/schemas/Matter' }
                  nextPageToken: { type: string }
    post:
      tags: [Matters]
      summary: Create matter
      operationId: matters.create
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Matter' }
      responses:
        '200':
          description: Matter
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Matter' }
  /v1/matters/{matterId}:
    get:
      tags: [Matters]
      summary: Get matter
      operationId: matters.get
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Matter
    put:
      tags: [Matters]
      summary: Update matter
      operationId: matters.update
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Matter' }
      responses:
        '200':
          description: Matter
    delete:
      tags: [Matters]
      summary: Delete matter
      operationId: matters.delete
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Empty }
  /v1/matters/{matterId}:close:
    post:
      tags: [Matters]
      summary: Close a matter
      operationId: matters.close
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Closed }
  /v1/matters/{matterId}:reopen:
    post:
      tags: [Matters]
      summary: Reopen a matter
      operationId: matters.reopen
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Reopened }
  /v1/matters/{matterId}:undelete:
    post:
      tags: [Matters]
      summary: Undelete a matter
      operationId: matters.undelete
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Undeleted }
  /v1/matters/{matterId}:count:
    post:
      tags: [Matters]
      summary: Count accounts processed by a query
      operationId: matters.count
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query: { $ref: '#/components/schemas/Query' }
                view:
                  type: string
                  enum: [COUNT_RESULT_VIEW_UNSPECIFIED, TOTAL_COUNT, ALL]
      responses:
        '200': { description: Operation }
  /v1/matters/{matterId}:addPermissions:
    post:
      tags: [Matters]
      summary: Add collaborator to matter
      operationId: matters.addPermissions
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                matterPermission:
                  type: object
                  properties:
                    role:
                      type: string
                      enum: [ROLE_UNSPECIFIED, COLLABORATOR, OWNER]
                    accountId: { type: string }
                sendEmails: { type: boolean }
                ccMe: { type: boolean }
      responses:
        '200': { description: MatterPermission }
  /v1/matters/{matterId}:removePermissions:
    post:
      tags: [Matters]
      summary: Remove collaborator from matter
      operationId: matters.removePermissions
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountId: { type: string }
      responses:
        '200': { description: Empty }

  /v1/matters/{matterId}/exports:
    get:
      tags: [Exports]
      summary: List exports
      operationId: matters.exports.list
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
        - in: query
          name: pageSize
          schema: { type: integer }
        - in: query
          name: pageToken
          schema: { type: string }
      responses:
        '200': { description: Exports }
    post:
      tags: [Exports]
      summary: Create export
      operationId: matters.exports.create
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Export' }
      responses:
        '200': { description: Export }
  /v1/matters/{matterId}/exports/{exportId}:
    get:
      tags: [Exports]
      summary: Get export
      operationId: matters.exports.get
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
        - in: path
          name: exportId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Export }
    delete:
      tags: [Exports]
      summary: Delete export
      operationId: matters.exports.delete
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
        - in: path
          name: exportId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Empty }

  /v1/matters/{matterId}/holds:
    get:
      tags: [Holds]
      summary: List holds
      operationId: matters.holds.list
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
        - in: query
          name: view
          schema:
            type: string
            enum: [HOLD_VIEW_UNSPECIFIED, BASIC_HOLD, FULL_HOLD]
      responses:
        '200': { description: Holds }
    post:
      tags: [Holds]
      summary: Create hold
      operationId: matters.holds.create
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Hold' }
      responses:
        '200': { description: Hold }
  /v1/matters/{matterId}/holds/{holdId}:
    get:
      tags: [Holds]
      summary: Get hold
      operationId: matters.holds.get
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
        - in: path
          name: holdId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Hold }
    put:
      tags: [Holds]
      summary: Update hold
      operationId: matters.holds.update
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
        - in: path
          name: holdId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Hold' }
      responses:
        '200': { description: Hold }
    delete:
      tags: [Holds]
      summary: Delete hold
      operationId: matters.holds.delete
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
        - in: path
          name: holdId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Empty }
  /v1/matters/{matterId}/holds/{holdId}:addHeldAccounts:
    post:
      tags: [Holds]
      summary: Bulk add held accounts
      operationId: matters.holds.addHeldAccounts
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
        - in: path
          name: holdId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                emails:
                  type: array
                  items: { type: string }
                accountIds:
                  type: array
                  items: { type: string }
      responses:
        '200': { description: Result }
  /v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts:
    post:
      tags: [Holds]
      summary: Bulk remove held accounts
      operationId: matters.holds.removeHeldAccounts
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
        - in: path
          name: holdId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountIds:
                  type: array
                  items: { type: string }
      responses:
        '200': { description: Result }
  /v1/matters/{matterId}/holds/{holdId}/accounts:
    get:
      tags: [HeldAccounts]
      summary: List held accounts
      operationId: matters.holds.accounts.list
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
        - in: path
          name: holdId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Accounts }
    post:
      tags: [HeldAccounts]
      summary: Add held account
      operationId: matters.holds.accounts.create
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
        - in: path
          name: holdId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountId: { type: string }
                email: { type: string }
      responses:
        '200': { description: HeldAccount }
  /v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}:
    delete:
      tags: [HeldAccounts]
      summary: Remove held account
      operationId: matters.holds.accounts.delete
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
        - in: path
          name: holdId
          required: true
          schema: { type: string }
        - in: path
          name: accountId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Empty }

  /v1/matters/{matterId}/savedQueries:
    get:
      tags: [SavedQueries]
      summary: List saved queries
      operationId: matters.savedQueries.list
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Saved queries }
    post:
      tags: [SavedQueries]
      summary: Create saved query
      operationId: matters.savedQueries.create
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SavedQuery' }
      responses:
        '200': { description: SavedQuery }
  /v1/matters/{matterId}/savedQueries/{savedQueryId}:
    get:
      tags: [SavedQueries]
      summary: Get saved query
      operationId: matters.savedQueries.get
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
        - in: path
          name: savedQueryId
          required: true
          schema: { type: string }
      responses:
        '200': { description: SavedQuery }
    delete:
      tags: [SavedQueries]
      summary: Delete saved query
      operationId: matters.savedQueries.delete
      parameters:
        - in: path
          name: matterId
          required: true
          schema: { type: string }
        - in: path
          name: savedQueryId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Empty }

  /v1/operations:
    get:
      tags: [Operations]
      summary: List operations
      operationId: operations.list
      responses:
        '200': { description: Operations }
  /v1/operations/{operationsId}:
    get:
      tags: [Operations]
      summary: Get an operation
      operationId: operations.get
      parameters:
        - in: path
          name: operationsId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Operation }
    delete:
      tags: [Operations]
      summary: Delete an operation
      operationId: operations.delete
      parameters:
        - in: path
          name: operationsId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Empty }
  /v1/operations/{operationsId}:cancel:
    post:
      tags: [Operations]
      summary: Cancel an operation
      operationId: operations.cancel
      parameters:
        - in: path
          name: operationsId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Empty }

components:
  securitySchemes:
    googleOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/ediscovery: Manage all Vault data
            https://www.googleapis.com/auth/ediscovery.readonly: Read-only Vault data
  schemas:
    Matter:
      type: object
      properties:
        matterId: { type: string }
        name: { type: string }
        description: { type: string }
        state:
          type: string
          enum: [STATE_UNSPECIFIED, OPEN, CLOSED, DELETED]
        matterPermissions:
          type: array
          items:
            type: object
            properties:
              role: { type: string }
              accountId: { type: string }
    Hold:
      type: object
      properties:
        holdId: { type: string }
        name: { type: string }
        corpus:
          type: string
          enum: [CORPUS_TYPE_UNSPECIFIED, DRIVE, MAIL, GROUPS, HANGOUTS_CHAT, VOICE, CALENDAR]
        query: { type: object }
        accounts:
          type: array
          items:
            type: object
            properties:
              accountId: { type: string }
              email: { type: string }
        orgUnit:
          type: object
          properties:
            orgUnitId: { type: string }
            holdTime: { type: string, format: date-time }
        updateTime: { type: string, format: date-time }
    Export:
      type: object
      properties:
        id: { type: string }
        matterId: { type: string }
        name: { type: string }
        requester:
          type: object
          properties:
            displayName: { type: string }
            email: { type: string }
        query: { $ref: '#/components/schemas/Query' }
        exportOptions: { type: object }
        status:
          type: string
          enum: [EXPORT_STATUS_UNSPECIFIED, COMPLETED, FAILED, IN_PROGRESS]
        createTime: { type: string, format: date-time }
        cloudStorageSink: { type: object }
        stats:
          type: object
          properties:
            exportedArtifactCount: { type: string }
            totalArtifactCount: { type: string }
            sizeInBytes: { type: string }
    SavedQuery:
      type: object
      properties:
        savedQueryId: { type: string }
        matterId: { type: string }
        displayName: { type: string }
        query: { $ref: '#/components/schemas/Query' }
        createTime: { type: string, format: date-time }
    Query:
      type: object
      properties:
        corpus:
          type: string
          enum: [CORPUS_TYPE_UNSPECIFIED, DRIVE, MAIL, GROUPS, HANGOUTS_CHAT, VOICE, CALENDAR]
        dataScope:
          type: string
          enum: [DATA_SCOPE_UNSPECIFIED, ALL_DATA, HELD_DATA, UNPROCESSED_DATA]
        searchMethod:
          type: string
          enum: [SEARCH_METHOD_UNSPECIFIED, ACCOUNT, ORG_UNIT, TEAM_DRIVE, ENTIRE_ORG, ROOM, SITES_URL, SHARED_DRIVE]
        terms: { type: string }
        startTime: { type: string, format: date-time }
        endTime: { type: string, format: date-time }
        timeZone: { type: string }
